{% extends 'base.html' %}
{% load static %}

{% block title %}Employees{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'staff/css/staff.css' %}">
{% endblock %}

{% block body %}
    <div class="container py-3">
        <div class="row">
            <div class="col-4">
                <h5 class="mb-4">Выберите отдел:</h5>
                <ul class="list-group position-sticky top-0">
                    {% for department in departments %}
                        <li class="list-group-item text-start p-0 border-0 p-0 mb-1" id="{{ department.id }}">
                            <span class="nav-btn p-3 d-block border border-2 border-primary-subtle rounded">{{ department.title }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-8">
                <h5 class="mb-4">Сотрудники отдела:</h5>
                <div class="head-row row border-dark border-bottom py-3">
                    <div class="col-4 fw-semibold">ФИО</div>
                    <div class="col-3 fw-semibold">Должность</div>
                    <div class="col-3 fw-semibold">Зарплата</div>
                    <div class="col-2 fw-semibold">Дата приема</div>
                </div>
                <div id="employees-list"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'staff/js/staff.js' %}"></script>
{% endblock %}
