{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1/2">
    <meta name="description" content="{% block meta_description %}{% endblock %} TL-GROUP COMPANY">
    <meta name="keywords" content="разработка, программирование">
    {#{% block og_image %}<meta property="og:image" content="{% static '' %}"/>{% endblock %}#}
    <title>{% block title %}TL-GROUP COMPANY{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'staff/img/favicon.ico' %}" type="image/vnd.microsoft.icon">
    <link href="{% static 'staff/css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN">
    {% block styles %}{% endblock %}
</head>
<body>
    <!-- BODY CONTENT -->
    {% block body %}{% endblock %}

    <!-- SCRIPTS -->
    <script src="{% static 'staff/js/bootstrap.bundle.min.js' %}" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"></script>
    <script src="{% static 'staff/js/jquery-3.5.1.min.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>